
/target/
**/*.rs.bk
/cmake-build-debug/
/.idea/
/test.pfm
/test.png
/*.png
/*.pfm
/*.exr
/*.csv
/data/*.blend*
/data/*.bak
/data/*
/images/
/scripts
/*.pbrt
/*.mask
/*.avi
/*.tar
/*.tgz
/*.tar.gz
/*.zip
/*.log
/results-new/
/tmp.*
/scene/