
/target/
**/*.rs.bk
/cmake-build-debug/
/.idea/
/test.pfm
/test.png
/*.png
/*.pfm
/*.exr
/*.csv
/data/*.blend*
/data/*.bak
/data/*
/images/
/*.avi
/*.tar
/*.tgz
/*.tar.gz
/*.zip
/*.log
/results-new/
/tmp.*

# Point-normal specific files
/results/
/scenes/
point_normal_scenes.tar.xz